[submodule "thirdparty/tomlc99"]
	path = thirdparty/tomlc99
	url = https://github.com/cktan/tomlc99.git
[submodule "thirdparty/psi"]
	path = thirdparty/psi
	url = https://github.com/handledexception/psi.git
	branch = main
[submodule "thirdparty/luapower-all"]
	path = thirdparty/luapower-all
	url = https://github.com/handledexception/luapower-all.git
	branch = master
[submodule "thirdparty/cimgui"]
	path = thirdparty/cimgui
	url = https://github.com/cimgui/cimgui.git
	branch = docker_inter
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
[submodule "thirdparty/SDL_mixer"]
	path = thirdparty/SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer.git
	branch = SDL2
[submodule "thirdparty/SDL_image"]
	path = thirdparty/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
	branch = SDL2
